body {
    background-color: dimgray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



h1 {
    color: brown;
    text-align: center;
    background-color: aliceblue;
    text-decoration: underline;
}

h2 {
    color: blue;
}

p {
    color: darkgreen;
}

img {
    width: 300px;
}